.grid{
  display: grid;
  grid-template-rows: repeat(5, minmax(100px,auto));
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: 
  "header"
  "main"
  "aside"
  "footer"
}
body{
  margin:0;
  background-color:ghostwhite;

} 

.grid {
background-color: black;
display: flex;
margin: 0;
grid-area: header;
align-items: center;
justify-content: space-around;
}

h1{
  background-color: black;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  display: flex;
  align-items: center;
  text-shadow: 4px 4px 5px orangered;
  margin: 10px;
}
.nava {
  align-items: center;
  display: flex;
  justify-content: space-around;   
  height: 90px;
  padding: 2px;
  width: 50%;
}
 
.nava a{
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

main{
  grid-area: main;
  margin-left: 100px;
  margin-right:100px;
  margin-top: 20px; 
  margin-bottom: 30px;
  padding-bottom: 17px;
  padding-top: 1px;
  height: auto;
  
}

aside{
  grid-area: aside;
  margin-left: 100px;
  margin-right:100px;
  margin-top: 20px; 
  margin-bottom: 30px;
  padding-top: 4px;
  height: auto;
  
}
.produtos img{
  width: 20%;
  height: auto;
}

.produtos{
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.text{
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.text2{
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 20pt;
  color: orangered;
}

.caixinha{
  width: 250px;
  height: auto;
  padding: 30px;
}

.botao{
  display: flex;
  align-items: center; 
  justify-content: space-around;
}
.btn{
  border: 2px solid ;
  background-color: orangered;
  padding: 20px 82px;
  font-size: 130%;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  text-transform: uppercase;
}

.compra{
  border-color: orangered;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.compra:hover{
  background-color: rgb(8, 8, 8);
  
}

h2{
  margin: 10px;
  text-align: center;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
}

h5{
  margin: 40px;
  text-align: center;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
  padding-top: 14px;
}

.produtos2{
  display:flex;
  align-items: center;
  justify-content: space-around;
  
}
.produtos2 img{
  width: 20%;
  height: auto;
}

.produtos3{
  display:flex;
  align-items: center;
  justify-content: space-around;
  
}
.produtos3 img{
  width: 20%;
  height: auto;
}

.produtos4{
  display:flex;
  align-items: center;
  justify-content: space-around;
  
}
.produtos4 img{
  width: 20%;
  height: auto;
}
.xuxu{
  padding-top: 30px;
}
.img-footer{
  height: auto;
  width: 150px;
  padding: 30px;
}

.p-text{
  color: aliceblue;
  font-family: 'Artifika', serif;
  font-size: 15px;
  align-items: center;
  justify-content: center; 
  margin: 22px;
}
.footers{
  background-color: black;
  display: flex;
  height: auto;
  justify-content: center;
  width: 100%;
}
.footers a{
  text-decoration: none;
}

.nava1 {
  align-items: center;
  display: flex;
  justify-content: space-around;   
  height: 90px;
  padding: 2px;
  width: 50%;
}
 
.nava1 a{
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}